.container-signin{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width:80rem;
    min-height: 100vh;
    width:100%;
    padding: 0 2rem;
    margin: 0 auto;
}

.wrapper {
    max-width: 28rem;
    width: 100%;
    margin: 0rem;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    color: black;
    backroung: white;
    baorder: 1px solid rgb(0,0,0);
}